
.pd-15 {
    padding: 15px 0 0 0;
    text-align: center;

}

.card {
    float: right;
    width: 300px;
    border: 1px solid #73AD21;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.41)
}

.card-body h2 {
    margin: 0;
}

.card-body .count {
    margin: 0;
}

.emphasis {
    font-weight: bold;
    display: inline;
    font-size: 125%;
}

nav {
    border-bottom-style: solid;
    border-radius: 1px;
    border-color: #b1a8aa;
    -webkit-box-shadow: 0px 14px 20px -4px rgba(0,0,0,0.41);
    box-shadow: 0px 14px 20px -4px rgba(0,0,0,0.41);

}

