.pd-15 {
    padding: 15px 0 0 0;
}

.card-body h2{
    margin: 0;
}

.card-body .count {
    margin: 0;
}

.card-body .emphasis{
    margin: 0;
    font-weight: bold;
}

nav {
    border-bottom-style: solid;
    border-radius: 1px;
    border-color: #b1a8aa;
    -webkit-box-shadow: 0px 14px 20px -4px rgba(0,0,0,0.41);
    box-shadow: 0px 14px 20px -4px rgba(0,0,0,0.41);

}

